<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src=" https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js "></script>

</head>

<body>
    <div id="app">
        千米:<input type="text" v-model="kilometers"> 米:<input type="text" v-model="meters">
        <p id="info"></p>
        <script>
            var vm = new Vue({
                el: "#app",
                data: {
                    kilometers: 0,
                    meters: 0
                },
                watch: {
                    //监听kilometers数据
                    kilometers: function(val) {
                        this.kilometers = val;
                        this.meters = this.kilometers * 1000;
                    },
                    // 监听meters数据
                    meters: function(val) {
                        this.meters = val;
                        this.kilometers = val / 1000;
                    }
                }
            });

            vm.$watch("kilometers", function(newVal, oldVal) {
                document.getElementById("info").innerHTML = "修改前:" + oldVal + ",修改后:" + newVal;
            });
        </script>
</body>

</html>